@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #f5f5f5;
  --color-primary: #171717;
  --color-primary-hover: #262626;
  --color-secondary: #737373;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    padding: 0;
  }
}
